
    <div class="vertical-menu column side products">
          <a class="font" href="/products?type=sleeves"><i class="fas fa-bullseye"></i> All Products</a>
        <a class="font" href="/productadd"><i class="fas fa-bullseye"></i> Add Product</a>
        <a class="font" href="/products?type=belt"><i class="fas fa-bullseye"></i> Edit Product</a>
        <a class="font" href="/products?type=shoes"><i class="fas fa-bullseye"></i> Delete Product</a>
     
    </div>

<div class="column middle products">
<section >
    <div class="columnWel">
        <h1 class="welcome"> Administration page, welcome Back {{user.fullName}}</h1>
        

        <div class="goToShop">
            <form class="goBtn" action="/">
                <button>Go to Homepage</button>
            </form>
        </div>
    </div>
</section>
</div>